# ===== Python general =====
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ===== Virtual environments =====
.env
.venv
env/
venv/
ENV/
env.bak/

# ===== Streamlit cache and logs =====
.streamlit/
.cache/
logs/
*.log